/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

######################################
# Custom
######################################

/public/.robots.txt
/public/tailwind-unpurged.css
.env.cypress
scratch.md

public/*
!/public/build
!/public/favicon.ico

######################################
# Operating Systems
######################################

###### OSX ######
._*
.DS*
.Spotlight-V100
.Trashes

###### Windows ######
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.shortcut

######################################
# Editors
######################################

###### VS Code ######
/.vscode

cgi-bin
.well-known
.htaccess
